openapi: 3.2.0
info:
  version: 2010-05-08
  x-release: v4
  title: 'APIs.io Engineering Platform AWS Identity and Access Management #Action=Create Access Key API'
  description: <fullname>Identity and Access Management</fullname> <p>Identity and Access Management (IAM) is a web service for securely controlling access to Amazon Web Services services. With IAM, you can centrally manage users, security credentials such as access keys, and permissions that control which Amazon Web Services resources users and applications can access. For more information about IAM, see <a href="http://aws.amazon.com/iam/">Identity and Access Management (IAM)</a> and the <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/">Identity and Access Management User Guide</a>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: iam
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: https://iam.amazonaws.com
  variables: {}
  description: The general IAM multi-region endpoint
- url: http://iam.us-gov.amazonaws.com
  variables: {}
  description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
- url: https://iam.us-gov.amazonaws.com
  variables: {}
  description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
- url: http://iam.cn-north-1.amazonaws.com.cn
  variables: {}
  description: The general IAM endpoint for China (Beijing) and China (Ningxia)
- url: https://iam.cn-north-1.amazonaws.com.cn
  variables: {}
  description: The general IAM endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: '#Action=CreateAccessKey'
paths:
  /#Action=CreateAccessKey:
    parameters:
    - $ref: '#/components/parameters/X-Amz-Content-Sha256'
    - $ref: '#/components/parameters/X-Amz-Date'
    - $ref: '#/components/parameters/X-Amz-Algorithm'
    - $ref: '#/components/parameters/X-Amz-Credential'
    - $ref: '#/components/parameters/X-Amz-Security-Token'
    - $ref: '#/components/parameters/X-Amz-Signature'
    - $ref: '#/components/parameters/X-Amz-SignedHeaders'
    get:
      x-aws-operation-name: CreateAccessKey
      operationId: GET_CreateAccessKey
      description: <p> Creates a new Amazon Web Services secret access key and corresponding Amazon Web Services access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials. This is true even if the Amazon Web Services account has no associated users.</p> <p> For information about quotas on the number of keys you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your Amazon Web Services account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
        '480':
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      parameters:
      - name: UserName
        in: query
        required: false
        description: '<p>The name of the IAM user that the new key will belong to.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
        schema:
          type: string
          pattern: '[\w+=,.@-]+'
          minLength: 1
          maxLength: 128
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateAccessKey
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - 2010-05-08
      tags:
      - '#Action=CreateAccessKey'
    post:
      x-aws-operation-name: CreateAccessKey
      operationId: POST_CreateAccessKey
      description: <p> Creates a new Amazon Web Services secret access key and corresponding Amazon Web Services access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials. This is true even if the Amazon Web Services account has no associated users.</p> <p> For information about quotas on the number of keys you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your Amazon Web Services account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
        '480':
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateAccessKeyRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - CreateAccessKey
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - 2010-05-08
      tags:
      - '#Action=CreateAccessKey'
components:
  schemas:
    CreateAccessKeyResponse:
      type: object
      required:
      - AccessKey
      example:
        AccessKey:
          AccessKeyId: AKIAIOSFODNN7EXAMPLE
          CreateDate: 2015-03-09 18:39:23.411000+00:00
          SecretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY
          Status: Active
          UserName: Bob
      properties:
        AccessKey:
          allOf:
          - $ref: '#/components/schemas/AccessKey'
          - description: A structure with details about the access key.
      description: 'Contains the response to a successful <a>CreateAccessKey</a> request. '
    AccessKey:
      type: object
      required:
      - UserName
      - AccessKeyId
      - Status
      - SecretAccessKey
      properties:
        UserName:
          allOf:
          - $ref: '#/components/schemas/userNameType'
          - description: The name of the IAM user that the access key is associated with.
        AccessKeyId:
          allOf:
          - $ref: '#/components/schemas/accessKeyIdType'
          - description: The ID for this access key.
        Status:
          allOf:
          - $ref: '#/components/schemas/statusType'
          - description: 'The status of the access key. <code>Active</code> means that the key is valid for API calls, while <code>Inactive</code> means it is not. '
        SecretAccessKey:
          allOf:
          - $ref: '#/components/schemas/accessKeySecretType'
          - description: The secret key used to sign requests.
        CreateDate:
          allOf:
          - $ref: '#/components/schemas/dateType'
          - description: The date when the access key was created.
      description: <p>Contains information about an Amazon Web Services access key.</p> <p> This data type is used as a response element in the <a>CreateAccessKey</a> and <a>ListAccessKeys</a> operations. </p> <note> <p>The <code>SecretAccessKey</code> value is returned only in response to <a>CreateAccessKey</a>. You can get a secret access key only when you first create an access key; you cannot recover the secret access key later. If you lose a secret access key, you must create a new access key.</p> </note>
    ServiceFailureException: {}
    NoSuchEntityException: {}
    accessKeyIdType:
      type: string
      pattern: '[\w]+'
      minLength: 16
      maxLength: 128
    accessKeySecretType:
      type: string
      format: password
    CreateAccessKeyRequest:
      type: object
      title: CreateAccessKeyRequest
      properties:
        UserName:
          allOf:
          - $ref: '#/components/schemas/existingUserNameType'
          - description: '<p>The name of the IAM user that the new key will belong to.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
    existingUserNameType:
      type: string
      pattern: '[\w+=,.@-]+'
      minLength: 1
      maxLength: 128
    LimitExceededException: {}
    dateType:
      type: string
      format: date-time
    statusType:
      type: string
      enum:
      - Active
      - Inactive
    userNameType:
      type: string
      pattern: '[\w+=,.@-]+'
      minLength: 1
      maxLength: 64
  parameters:
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/iam/
x-hasEquivalentPaths: true
