openapi: 3.2.0
info:
  version: 2010-05-08
  x-release: v4
  title: 'APIs.io Engineering Platform AWS Identity and Access Management #Action=Get Account Password Policy API'
  description: <fullname>Identity and Access Management</fullname> <p>Identity and Access Management (IAM) is a web service for securely controlling access to Amazon Web Services services. With IAM, you can centrally manage users, security credentials such as access keys, and permissions that control which Amazon Web Services resources users and applications can access. For more information about IAM, see <a href="http://aws.amazon.com/iam/">Identity and Access Management (IAM)</a> and the <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/">Identity and Access Management User Guide</a>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: iam
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: https://iam.amazonaws.com
  variables: {}
  description: The general IAM multi-region endpoint
- url: http://iam.us-gov.amazonaws.com
  variables: {}
  description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
- url: https://iam.us-gov.amazonaws.com
  variables: {}
  description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
- url: http://iam.cn-north-1.amazonaws.com.cn
  variables: {}
  description: The general IAM endpoint for China (Beijing) and China (Ningxia)
- url: https://iam.cn-north-1.amazonaws.com.cn
  variables: {}
  description: The general IAM endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: '#Action=GetAccountPasswordPolicy'
paths:
  /#Action=GetAccountPasswordPolicy:
    parameters:
    - $ref: '#/components/parameters/X-Amz-Content-Sha256'
    - $ref: '#/components/parameters/X-Amz-Date'
    - $ref: '#/components/parameters/X-Amz-Algorithm'
    - $ref: '#/components/parameters/X-Amz-Credential'
    - $ref: '#/components/parameters/X-Amz-Security-Token'
    - $ref: '#/components/parameters/X-Amz-Signature'
    - $ref: '#/components/parameters/X-Amz-SignedHeaders'
    get:
      x-aws-operation-name: GetAccountPasswordPolicy
      operationId: GET_GetAccountPasswordPolicy
      description: Retrieves the password policy for the Amazon Web Services account. This tells you the complexity requirements and mandatory rotation periods for the IAM user passwords in your account. For more information about using a password policy, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingPasswordPolicies.html">Managing an IAM password policy</a>.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetAccountPasswordPolicyResponse'
        '480':
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetAccountPasswordPolicy
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - 2010-05-08
      tags:
      - '#Action=GetAccountPasswordPolicy'
    post:
      x-aws-operation-name: GetAccountPasswordPolicy
      operationId: POST_GetAccountPasswordPolicy
      description: Retrieves the password policy for the Amazon Web Services account. This tells you the complexity requirements and mandatory rotation periods for the IAM user passwords in your account. For more information about using a password policy, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingPasswordPolicies.html">Managing an IAM password policy</a>.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetAccountPasswordPolicyResponse'
        '480':
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetAccountPasswordPolicy
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - 2010-05-08
      tags:
      - '#Action=GetAccountPasswordPolicy'
components:
  schemas:
    GetAccountPasswordPolicyResponse:
      type: object
      required:
      - PasswordPolicy
      example:
        PasswordPolicy:
          AllowUsersToChangePassword: false
          ExpirePasswords: false
          HardExpiry: false
          MaxPasswordAge: 90
          MinimumPasswordLength: 8
          PasswordReusePrevention: 12
          RequireLowercaseCharacters: false
          RequireNumbers: true
          RequireSymbols: true
          RequireUppercaseCharacters: false
      properties:
        PasswordPolicy:
          allOf:
          - $ref: '#/components/schemas/PasswordPolicy'
          - description: A structure that contains details about the account's password policy.
      description: 'Contains the response to a successful <a>GetAccountPasswordPolicy</a> request. '
    minimumPasswordLengthType:
      type: integer
      minimum: 6
      maximum: 128
    NoSuchEntityException: {}
    booleanObjectType:
      type: boolean
    booleanType:
      type: boolean
    PasswordPolicy:
      type: object
      properties:
        MinimumPasswordLength:
          allOf:
          - $ref: '#/components/schemas/minimumPasswordLengthType'
          - description: Minimum length to require for IAM user passwords.
        RequireSymbols:
          allOf:
          - $ref: '#/components/schemas/booleanType'
          - description: '<p>Specifies whether IAM user passwords must contain at least one of the following symbols:</p> <p>! @ # $ % ^ &amp; * ( ) _ + - = [ ] { } | ''</p>'
        RequireNumbers:
          allOf:
          - $ref: '#/components/schemas/booleanType'
          - description: Specifies whether IAM user passwords must contain at least one numeric character (0 to 9).
        RequireUppercaseCharacters:
          allOf:
          - $ref: '#/components/schemas/booleanType'
          - description: Specifies whether IAM user passwords must contain at least one uppercase character (A to Z).
        RequireLowercaseCharacters:
          allOf:
          - $ref: '#/components/schemas/booleanType'
          - description: Specifies whether IAM user passwords must contain at least one lowercase character (a to z).
        AllowUsersToChangePassword:
          allOf:
          - $ref: '#/components/schemas/booleanType'
          - description: Specifies whether IAM users are allowed to change their own password. Gives IAM users permissions to <code>iam:ChangePassword</code> for only their user and to the <code>iam:GetAccountPasswordPolicy</code> action. This option does not attach a permissions policy to each user, rather the permissions are applied at the account-level for all users by IAM.
        ExpirePasswords:
          allOf:
          - $ref: '#/components/schemas/booleanType'
          - description: Indicates whether passwords in the account expire. Returns true if <code>MaxPasswordAge</code> contains a value greater than 0. Returns false if MaxPasswordAge is 0 or not present.
        MaxPasswordAge:
          allOf:
          - $ref: '#/components/schemas/maxPasswordAgeType'
          - description: The number of days that an IAM user password is valid.
        PasswordReusePrevention:
          allOf:
          - $ref: '#/components/schemas/passwordReusePreventionType'
          - description: Specifies the number of previous passwords that IAM users are prevented from reusing.
        HardExpiry:
          allOf:
          - $ref: '#/components/schemas/booleanObjectType'
          - description: Specifies whether IAM users are prevented from setting a new password via the Amazon Web Services Management Console after their password has expired. The IAM user cannot access the console until an administrator resets the password. IAM users with <code>iam:ChangePassword</code> permission and active access keys can reset their own expired console password using the CLI or API.
      description: <p>Contains information about the account password policy.</p> <p> This data type is used as a response element in the <a>GetAccountPasswordPolicy</a> operation. </p>
    passwordReusePreventionType:
      type: integer
      minimum: 1
      maximum: 24
    ServiceFailureException: {}
    maxPasswordAgeType:
      type: integer
      minimum: 1
      maximum: 1095
  parameters:
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/iam/
x-hasEquivalentPaths: true
