openapi: 3.2.0
info:
  version: 2010-05-08
  x-release: v4
  title: 'APIs.io Engineering Platform AWS Identity and Access Management #Action=Update Role API'
  description: <fullname>Identity and Access Management</fullname> <p>Identity and Access Management (IAM) is a web service for securely controlling access to Amazon Web Services services. With IAM, you can centrally manage users, security credentials such as access keys, and permissions that control which Amazon Web Services resources users and applications can access. For more information about IAM, see <a href="http://aws.amazon.com/iam/">Identity and Access Management (IAM)</a> and the <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/">Identity and Access Management User Guide</a>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: iam
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: https://iam.amazonaws.com
  variables: {}
  description: The general IAM multi-region endpoint
- url: http://iam.us-gov.amazonaws.com
  variables: {}
  description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
- url: https://iam.us-gov.amazonaws.com
  variables: {}
  description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
- url: http://iam.cn-north-1.amazonaws.com.cn
  variables: {}
  description: The general IAM endpoint for China (Beijing) and China (Ningxia)
- url: https://iam.cn-north-1.amazonaws.com.cn
  variables: {}
  description: The general IAM endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: '#Action=UpdateRole'
paths:
  /#Action=UpdateRole:
    parameters:
    - $ref: '#/components/parameters/X-Amz-Content-Sha256'
    - $ref: '#/components/parameters/X-Amz-Date'
    - $ref: '#/components/parameters/X-Amz-Algorithm'
    - $ref: '#/components/parameters/X-Amz-Credential'
    - $ref: '#/components/parameters/X-Amz-Security-Token'
    - $ref: '#/components/parameters/X-Amz-Signature'
    - $ref: '#/components/parameters/X-Amz-SignedHeaders'
    get:
      x-aws-operation-name: UpdateRole
      operationId: GET_UpdateRole
      description: Updates the description or maximum session duration setting of a role.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateRoleResponse'
        '480':
          description: UnmodifiableEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '481':
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      parameters:
      - name: RoleName
        in: query
        required: true
        description: The name of the role that you want to modify.
        schema:
          type: string
          pattern: '[\w+=,.@-]+'
          minLength: 1
          maxLength: 64
      - name: Description
        in: query
        required: false
        description: The new description that you want to apply to the specified role.
        schema:
          type: string
          pattern: '[\p{L}\p{M}\p{Z}\p{S}\p{N}\p{P}]*'
          maxLength: 1000
      - name: MaxSessionDuration
        in: query
        required: false
        description: <p>The maximum session duration (in seconds) that you want to set for the specified role. If you do not specify a value for this setting, the default value of one hour is applied. This setting can have a value from 1 hour to 12 hours.</p> <p>Anyone who assumes the role from the CLI or API can use the <code>DurationSeconds</code> API parameter or the <code>duration-seconds</code> CLI parameter to request a longer session. The <code>MaxSessionDuration</code> setting determines the maximum duration that can be requested using the <code>DurationSeconds</code> parameter. If users don't specify a value for the <code>DurationSeconds</code> parameter, their security credentials are valid for one hour by default. This applies when you use the <code>AssumeRole*</code> API operations or the <code>assume-role*</code> CLI operations but does not apply when you use those operations to create a console URL. For more information, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html">Using IAM roles</a> in the <i>IAM User Guide</i>.</p>
        schema:
          type: integer
          minimum: 3600
          maximum: 43200
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - UpdateRole
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - 2010-05-08
      tags:
      - '#Action=UpdateRole'
    post:
      x-aws-operation-name: UpdateRole
      operationId: POST_UpdateRole
      description: Updates the description or maximum session duration setting of a role.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateRoleResponse'
        '480':
          description: UnmodifiableEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '481':
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      parameters:
      - name: Action
        in: query
        required: true
        schema:
          type: string
          enum:
          - UpdateRole
      - name: Version
        in: query
        required: true
        schema:
          type: string
          enum:
          - 2010-05-08
      tags:
      - '#Action=UpdateRole'
components:
  parameters:
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
  schemas:
    roleNameType:
      type: string
      pattern: '[\w+=,.@-]+'
      minLength: 1
      maxLength: 64
    NoSuchEntityException: {}
    roleDescriptionType:
      type: string
      pattern: '[\p{L}\p{M}\p{Z}\p{S}\p{N}\p{P}]*'
      maxLength: 1000
    UpdateRoleRequest:
      type: object
      required:
      - RoleName
      title: UpdateRoleRequest
      properties:
        RoleName:
          allOf:
          - $ref: '#/components/schemas/roleNameType'
          - description: The name of the role that you want to modify.
        Description:
          allOf:
          - $ref: '#/components/schemas/roleDescriptionType'
          - description: The new description that you want to apply to the specified role.
        MaxSessionDuration:
          allOf:
          - $ref: '#/components/schemas/roleMaxSessionDurationType'
          - description: <p>The maximum session duration (in seconds) that you want to set for the specified role. If you do not specify a value for this setting, the default value of one hour is applied. This setting can have a value from 1 hour to 12 hours.</p> <p>Anyone who assumes the role from the CLI or API can use the <code>DurationSeconds</code> API parameter or the <code>duration-seconds</code> CLI parameter to request a longer session. The <code>MaxSessionDuration</code> setting determines the maximum duration that can be requested using the <code>DurationSeconds</code> parameter. If users don't specify a value for the <code>DurationSeconds</code> parameter, their security credentials are valid for one hour by default. This applies when you use the <code>AssumeRole*</code> API operations or the <code>assume-role*</code> CLI operations but does not apply when you use those operations to create a console URL. For more information, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html">Using IAM roles</a> in the <i>IAM User Guide</i>.</p>
    UnmodifiableEntityException: {}
    roleMaxSessionDurationType:
      type: integer
      minimum: 3600
      maximum: 43200
    ServiceFailureException: {}
    UpdateRoleResponse:
      type: object
      properties: {}
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/iam/
x-hasEquivalentPaths: true
